.card{
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card{
    .img{
        height: 500px;
    }
    .botonDetalles{
            border: none;
            border-radius: 4px;
            color: white;
            background-color: blue;
            padding: 5px;
    }
}