// #navBar{
//     border-bottom: 3px solid black;
//     margin: 10px;
// }

#cartWidget{
    display: flex;
    align-items: center;
    color: aliceblue;
}

.logo{
    width: 75px;
}

.center{
    padding-right: 55px;
}